.radio-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: .75rem;
  gap: .25rem;

  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  font: var(--text-body-md-regu);
  color: var(--text-heading);

  &:focus-within {
    border: 1px solid var(--brand-light);
  }

  & .radio-inner {
    display: flex;
    align-items: center;
    padding: 0.656rem 1.125rem;
    gap: .5rem;
    border-radius: .25rem;
    margin-block: .25rem;

    &:has(:checked) {
      background-color: var(--shape-button);
      transition: all .5s ease;

      & label {
        font: var(--text-body-sm-semi);
        color: var(--text-heading);
      }

      & svg path {
        fill: var(--brand-light);
      }
    }

    &:first-child {
      margin-left: .25rem;
    }

    &:last-child {
      margin-right: .25rem;
    }

    position: relative;

    & input {
      all: unset;
      position: relative;

      &[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 8rem;
        height: 100%;
        opacity: 100;
      }

      & label {
        font: var(--text-body-sm-regu);
        color: var(--text-body);
      }
    }
  }
}

.bubble-wrapper {
  display: grid;
  grid-template-columns: repeat(11, auto);
  align-items: center;
  justify-content: space-between;
  margin-block: 1rem 1.75rem;
  
  & .bubble-inner {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--shape-button) ;
    padding: .375rem;
    position: relative;

    &:hover {
      background-color: var(--shape-hover);
      cursor: pointer;
    }

    & input,
    & input:focus,
    & input:hover {
      all: unset;
      position: absolute;
      inset: 0;
    }

    &:has(:checked) div {
      outline: .125rem solid var(--brand-light);
      outline-offset: .25rem;
    }

    & div {
      width: 100%;
      height: 100%;
      border-radius: 50%;

      &#brand-light {
        background-color: var(--brand-light);
      }

      &#acent-navy {
        background-color: var(--acent-navy);
      }

      &#acent-purple {
        background-color: var(--acent-purple);
      }

      &#acent-fuschia {
        background-color: var(--acent-fuschia);
      }

      &#acent-pink {
        background-color: var(--acent-pink);
      }

      &#acent-danger {
        background-color: var(--error-danger);
      }

      &#acent-orange {
        background-color: var(--acent-orange);
      }

      &#acent-yellow {
        background-color: var(--acent-yellow);
      }

      &#acent-lime {
        background-color: var(--acent-pink);
      }

      &#acent-green {
        background-color: var(--acent-green);
      }

      &#acent-cyan {
        background-color: var(--acent-cyan);
      }
    }

  }
}

.theme-radio-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 8.375rem);
  justify-content: space-between;
  margin-top: 1rem;
  gap: .5rem;

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  & .theme-radio-inner {
    display: grid;
    text-align: center;
    gap: .5rem;
    padding: .25rem .25rem .5rem;
    background-color: var(--shape-button);
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    position: relative;

    &:hover {
      background-color: var(--shape-hover);
      cursor: pointer;
    }

    &:has(:checked) {
      outline: .125rem solid var(--brand-light);
      outline-offset: -.1rem;
    }

    & img {
      width: 7.875rem;
      height: 4rem;
    }
  }
}

.mid-section {

  & .grid {
    display: grid;
    grid-template-columns: 11rem 1fr;
    align-items: center;
    margin-top: 1.75rem;

    & .radio-wrapper {
      cursor: pointer;
      position: relative;

      & input,
      & input:focus,
      & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
      }
    }
  }

  & .option-wrapper {
    display: flex;
    align-items: center;
    margin-top: .75rem;
    gap: .75rem;

    & label {
      margin-top: .75rem;
      color: var(--text-heading);
    }
    
    & label:nth-child(3) {
      display: none;
    }

    &:has(input#dark:checked) label:nth-child(2) {
      display: none;
    }

    &:has(input#dark:checked) label:nth-child(3) {
        display: block;
      }

    & .radio-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid var(--input-stroke);

      border-radius: 999px;
      padding: .25rem;
      transition: all .5s ease-out;
      gap: .5rem;

      & .dark,
      & .light {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 999px;
      }

      & .dark {
        background-color: var(--input-stroke);
      }
      
      &:has(input:checked) {
        background-color: var(--brand-light);
      }

      &:has(input#dark:checked) .dark {
        background-color: transparent;
      }

      &:has(input#dark:checked) .light {
        background-color: var(--text-heading);
      }

    }
  }
}