#page {
  display: grid;
  grid-template-columns: 27.77% 56.94%;
  justify-content: center;

  height: 100vh;
  margin: 1.25rem auto;
  max-width: 90rem;
  gap: 1.25rem;
}

aside {
  max-width: 25rem;
  max-height: 45.5rem;
  margin-top: 1.25rem;

  overflow: hidden;

  & h1 {
    font: var(--text-logo);
    color: var(--acent-pink);
    margin-block: 1rem .25rem;
  }

  & .aside-container {
    position: relative;

    & > img {
        width: 100%;
        height: auto;
        border-radius: .75rem;
      }

    header {
      position: absolute;
      padding: 2rem;

      & p {
      font: var(--text-body-md-regu);
      color: var(--text-body);
      }

      & img {
        width: 2.865rem;
        height: auto;
      }
    } 
  }
}

main {
  display: grid;
  max-width: 51.25rem;
  padding: 5rem 8.125rem;
  border-radius: .75rem;
  background-color: var(--shape-body);
  overflow-y: auto;
  overflow-x: hidden;
  margin-block: 1.25rem;

  & h1 {
    font: var(--text-heading-md);
    color: var(--text-heading);
  }

  & legend {
    font: var(--text-heading-sm);
    color: var(--text-heading);
  }

  & label {
    font: var(--text-body-sm-regu);
    color: var(--text-body);
  }

  & .main-container {
    max-width: 35rem;
  }
}
