main {
  &::-webkit-scrollbar {
    width: 1.1rem;
    height: .75rem;
  }
  
  &::-webkit-scrollbar-track {
    background-color: var(--input-base);
    border-radius: .375rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--shape-button);
    border-radius: .375rem; 
    border: 2px solid var(--input-base);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #34383d;
  }

  &::-webkit-scrollbar-button:single-button:vertical:decrement {
    width: 1.125rem;
    height: 1.125rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><polygon points='5,3 8,7 2,7' fill='%23ffffff'/></svg>");
    opacity: .8;
  }

  &::-webkit-scrollbar-button:single-button:vertical:increment {
    width: 1.125rem;
    height: 1.125rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><polygon points='2,3 8,3 5,7' fill='%23ffffff'/></svg>");
    opacity: .8;
  }
}